@model Capstone.Models.ViewModels.CreateUserViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>New</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="User.FirstName" class="control-label"></label>
                <input asp-for="User.FirstName" class="form-control" />
                <span asp-validation-for="User.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.LastName" class="control-label"></label>
                <input asp-for="User.LastName" class="form-control" />
                <span asp-validation-for="User.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Bio" class="control-label"></label>
                <input asp-for="User.Bio" class="form-control" />
                <span asp-validation-for="User.Bio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MyImage" class="control-label"></label>
                <input asp-for="MyImage" class="form-control" />
                <span asp-validation-for="MyImage" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
