@model IEnumerable<Capstone.Models.Follow>

@{
    ViewData["Title"] = "Index";
}

<h1>Following</h1>

<table class="table">
    <thead>
        
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @if (item.UserId == ViewBag.UserId)
            {
            <td>
                <a asp-action="Index" asp-controller="User" asp-route-id="@item.FollowerId">
                    @Html.DisplayFor(modelItem => item.Follower.UserName)
                </a>
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.FollowId">Unfollow</a>
            </td>
            }
        </tr>
}
    </tbody>
</table>
